* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Raleway", sans-serif;
}

/* header */

.header {
	background-color: rgba(0, 0, 0, 0.4%);
}
.header-img {
	position: relative;
	height: 300px;
	background-image: url("./img/planet-gaa3a8d4be_1920.jpg");
	background-size: cover;
	background-position: 0% 50%;
}
.header-text {
	position: absolute;
	top: 50%;
	left: 50%;
	color: #fff;
	transform: translate(-50%, -50%);
}
.header-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 40%);
}

/* nav */

.nav {
	position: relative;
	height: 50px;
	background-color: #333;
	text-align: center;
	line-height: 50px;
}
.nav-item {
	display: inline-block;
}
.nav-item a {
	padding: 0 50px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
	transition: color 0.3s;
}
.nav-item a:hover {
	color: rgba(0, 175, 219, 0.877);
}
