* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Raleway", sans-serif;
}

/* header */

.header {
	background-color: rgba(0, 0, 0, 0.4%);
}
.header-img {
	position: relative;
	height: 300px;
	background-image: url("/img/planet-gaa3a8d4be_1920.jpg");
	background-size: cover;
	background-position: 0% 50%;
}
.header-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	z-index: 1;
}
.header-text h1 {
	margin-bottom: 10px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.header-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 3, 27, 40%);
}

/* nav */

.nav {
	position: relative;
	height: 50px;
	background-color: #333;
	text-align: center;
	line-height: 50px;
}
.nav-item {
	display: inline-block;
}
.nav-item a {
	padding: 0 50px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
	transition: color 0.3s;
}
.nav-item a:hover {
	color: rgba(0, 175, 219, 0.877);
}

/* main */
main {
	margin: 50px auto;
	width: 1200px;
}
main h1 {
	margin-bottom: 20px;
	text-transform: uppercase;
	text-align: center;
}

.top {
	background: url("/img/kawa.jpg");
}
.middle {
	background: url("/img/startup-g586858830_1920.jpg");
}
.bottom {
	background: url("/img/art-g2a70ea67c_1920.jpg");
}

.center {
	position: relative;
	margin: 40px 0;
	height: 300px;
	background-position: center;
	background-attachment: fixed;
	border-radius: 50px 0;
	overflow: hidden;
}

.main-bg {
	position: absolute;
	bottom: 0%;
	height: 45%;
	width: 100%;
	text-align: center;
	background-color: rgba(28, 29, 31, .8);
}

.main-text {
	position: absolute;
	bottom: 20px ;
	left: 50%;
	color: #fff;
	transform: translate(-50%, -50%);
}
.main-text h3{
	margin-bottom: 10px;
	text-transform: uppercase;
}
/* .top{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 500px;
	height: 200px;
	border: 2px solid red;
} */

/* footer*/

footer {
	height: 80px;
	margin-top: 10px;
	color: #fff;
	background-color: #333;
	text-align: center;
	font-size: 20px;
	line-height: 80px;
}

.icon-box a {
	margin-left: 10px;
	color: #fff;
	transition: color 0.3s;
}
.icon-box a:hover {
	color: rgba(0, 175, 219, 0.877);
}


/* podstrony */

td{
	border: 2px solid black;
	
}
table{
	margin: 0 auto;
}
.list{
	margin: 0 auto;
	width: 200px;
	
}

.contact{
	text-align: center;
}

.contact i{
	margin-right: 22px;
}